<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.jiguang.imui.messagelist">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera2" />
    <application
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name="com.dowin.imageviewer.ImageViewPagerActivity"/>
    </application>
</manifest>
