
android/*.iml
android/build
android/.idea/
.DS_Store
.idea/
*.iml
ios/RCTAuroraIMUI.xcodeproj/project.xcworkspace/xcuserdata/VisonMac.xcuserdatad/UserInterfaceState.xcuserstate
ios/RCTAuroraIMUI.xcodeproj/xcuserdata/VisonMac.xcuserdatad/xcschemes/xcschememanagement.plist


